.sidebar-open {
  left: 0;
}

.sidebar-hidden {
  left: -425px;
}

#sidebar {
  position: fixed;
  background-color: whitesmoke;
  top: 55px;
  width: 100%;
  max-width: 305px;
  height: 100%;
  min-height: calc(100vh - 55px);
  transition: all 0.25s ease-in-out;
  z-index: 10;
  padding: 16px;
}

.overlay {
  top: 0;
  left: 0;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

.shadow {
  opacity: 0;
  visibility: none;
}

@media screen and (max-width: 640px) {
  .home-page {
    padding: 16px 16px 16px 16px;
  }

  .shadow {
    opacity: 0.7;
    visibility: visible;
  }
}
