.collection-item-active,
.collection-item-inactive {
  border: 1px solid blue;
}

.collection-item-active {
  background-color: red;
  color: white;
}
.collection-item-inactive {
  background-color: orange;
  color: white;
}

.hidden-btn {
  display: none;
}

.word-container,
.collection-item,
.form-container {
  display: flex;
  flex-direction: row;
  margin: 4px;
}

.word-container > *,
.collection-item > * {
  margin: 4px;
}

.side-bar {
  display: none;
}

.open {
  display: block;
}
