.home-page {
  position: absolute;
  top: 55px;
  padding: 16px 16px 16px 325px;
  width: 100%;
}

.title {
  margin: 12px 42px 12px;
}

.wide {
  width: 100%;
}

@media screen and (max-width: 640px) {
  .home-page {
    padding: 16px 16px 16px 32px;
  }
}
