:root {
  --red: hsl(4, 62%, 53%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h4,
h5,
h6 {
  margin: 5px;
}

h2,
h3 {
  margin: 24px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type='text'] {
  background-color: inherit;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  height: 35px;
  border: 0;
  text-indent: 10px;
}

input[type='text']:focus {
  outline: none;
}

.collection-item-active,
.collection-item-inactive,
.form-control,
.word-wrapper {
  margin: 2px 4px 2px 24px;
  padding: 8px 0;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.collection-item-active {
  background-color: rgb(235, 235, 235);
}

.collection-item-inactive {
  background-color: rgba(0, 0, 0, 0);
}

.collection-item,
.form-container,
.word-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 89%;
  left: 5px;
  position: relative;
}

.collection-item :hover,
.word-container :hover {
  background-color: rgb(230, 230, 230);
}

.collection-item :hover .add-btn,
.word-container :hover .add-btn {
  background-color: blue;
  opacity: 1;
}

.delete-btn,
.edit-btn,
.save-btn,
.add-btn {
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  line-height: 20px;
  opacity: 0;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  transition: opacity 0.3s ease;
  cursor: pointer;
  border: 0;
}

.delete-btn {
  transform: translate(-110%, -50%);
  left: 0;
}

.delete-btn {
  background-color: var(--red);
}

.collection-item :hover .delete-btn,
.word-container :hover .delete-btn {
  background-color: var(--red);
  opacity: 1;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0 16px;
}

.edit-btn,
.save-btn {
  right: 0;
  transform: translate(+110%, -50%);
}

.add-btn {
  right: 0;
  transform: translate(+100%, -50%);
}

.edit-btn {
  background-color: blue;
}

.collection-item :hover .edit-btn,
.word-container :hover .edit-btn {
  background-color: blue;
  opacity: 1;
}

.save-btn {
  background-color: green;
}

.collection-item :hover .save-btn,
.word-container :hover .save-btn {
  background-color: green;
  opacity: 1;
}

.add-btn {
  background-color: green;
}

.form-container :hover .add-btn,
.word-container :hover .add-btn {
  background-color: green;
  opacity: 1;
}

.form-container,
.word-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 89%;
  max-width: 300px;
  left: 5px;
  position: relative;
}

.form-control :hover {
  background-color: rgb(230, 230, 230);
}

.hidden-btn {
  display: none;
}

@media screen and (max-width: 360px) {
  .delete-btn,
  .edit-btn,
  .save-btn,
  .add-btn {
    opacity: 1;
  }
}
